.name{
    width: 150px;
    display: block;
    margin-bottom: 6px;
}

.email{
    width: 150px;
    display: block;
}

.rating{
    width: 200px;
    display: inline-block;
    vertical-align: middle;
}

.google-img{
    width: 200px;
    display: block;
    margin-top: 32px;
    margin-left: 128px;
    margin-bottom: 13px;
}

.google-bar{
    width: 450px;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
    padding-top: 11.5px;
    padding-left: 16px;
    padding-bottom: 11.5px;
    display: block;
}

.first-name{
    margin-top: 32px;
    width: 100px;
    padding-top: 10px;
    padding-left: 12px;
    padding-bottom: 10px;
    border-radius: 8px;
    border: solid;
    border-width: 0.25px;
}

.email2{
    margin-top: 8px;
    display: block;
    width: 222.5px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 6px;
    border: solid;
    border-width: 0.25px;
}

.sign-up{
    margin-top: 8px;
    width: 236px;
    background-color: blue;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 7px;
}

.sign-up:hover{
    opacity: 0.8;
    cursor: pointer;
}
.sign-up:active{
    opacity: 0.6;
}

.request{
    margin-top: 32px;
    font-size: 19px;
    font-family: Arial;
    margin-bottom: 16px;
}

.location,
.destination{
    display: block;
    border: none;
    background-color: rgb(243, 241, 241);
    margin-bottom: 6px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 300px;
}

.request-now{
    margin-top: 19px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 16px 10px 16px;
}

.schedule{
    background-color: rgb(243, 241, 241);
    border: none;
    padding: 10px 16px 10px 16px;
    margin-left: 12px;
}

.request-now:hover,
.schedule:hover{
    opacity: 0.8;
    cursor: pointer;
}

.request-now:active,
.schedule:active{
    opacity: 0.6;
}